@model AboutMe.Mvc.Web.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tommy James Parnell</title>
    @*Meta*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tommy James Parnell Web Applications Developer">
    <meta name="author" content="Tommy James Parnell">
    <link rel="shortcut icon" href="/Images/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="G4psmFLJd9nwPIr3OFJoSdrwqodMweq1oipofawZIdc"/>
    <script src="/Scripts/telemetry.min.js"></script>
    <script async type="text/javascript" src="~/Scripts/GAnalytics.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="profile-outer"><img class="profile-image img-responsive pull-left" src="~/Images/sqprofile.jpg" alt="Tommy Parnell" /></span>
            <div class="profile-content pull-left">
                <h1 class="name">Tommy Parnell</h1>
                <h2 class="desc">Web Applications Developer</h2>
                <ul class="social list-inline">
                    <li><a href="https://twitter.com/TerribleDev"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.linkedin.com/pub/tommy-parnell/24/722/63a"><i class="fa fa-linkedin"></i></a></li>
                    <li class="last-item"><a href="https://github.com/tparnell8"><i class="fa fa-github-alt"></i></a></li>
                </ul>
            </div>
            <div class="pull-right-md">
                @if (!string.IsNullOrWhiteSpace(Model.CurrentBeer))
                {
                    <a class="btn btn-warning" href="https://untappd.com/user/tparnell"><i class="fa fa-beer"></i>drinking: @Model.CurrentBeer</a>
                }
                <a class="btn btn-cta-primary" href="mailto:tparnell8@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
            </div>
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                @Html.Partial("AboutMe")

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineer <span class="place"><a href="http://vistaprint.com">Vistaprint.com</a></span> <span class="year">(2015 - Present)</span></h3>
                                <p>
                                    Software engineer for vistaprint's gallery, and keyword search platform <br/>
                                    <em>Javascript, C#, Ruby, Bower, Grunt, Rake, MVC 6, SQLServer, Backbone.js, React.js, Jenkins, AWS, ElasticBeanstalk</em> <br/>
                                </p>
                                <p><a class="more-link" href="http://vistaprint.com/gallery.aspx?pg=161" target="_blank"><i class="fa fa-external-link"></i> See Gallery Live</a></p>

                            </div>
                            <div class="item">
                                <h3 class="title">Lead Systems Administrator <span class="place"><a href="http://vistaprint.com">Vistaprint.com</a></span> <span class="year">(2011 - 2015)</span></h3>
                                <p>Devops Engineer, Technical lead for our Monitoring team</p>
                                <p>
                                    Monitoring the health of and providing support for Vistaprint's globally-distributed production infrastructure. <br/>
                                    Creating, implementing, and maintaining tools, automation, and applications to support infrastructure and other internal teams. <br/>
                                    <em>C#, SQL, IIS, SCOM, Nagios, PowerShell, Windows.</em>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                @Html.Partial("Projects")
                @*Blog Posts*@
                <aside class="blog section">
                    <div class="section-inner">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <p></p>
                        <div id="rss-feeds" class="content">
                        </div>
                    </div>
                </aside>
                @*Github Feed*@
                <section class="github section visible-md visible-lg">
                    <div class="section-inner">
                        <div id="feed" class="ghfeed feed">
                        </div>
                    </div>
                </section>
            </div>
            @Html.Partial("RightPane")
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">tommyparnell.com</small>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/bundles/site")
</body>
</html>